$containerWidth: 1100px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

@import "_media.scss";


//colors
$gray: #F8FAF9;
$white: #fff;
$red: #E01F3D;
$black: #292929;

//z-indexes
$z-fixed-menu: 100;

//setup
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import "./_layout.scss";


//block
@import "./blocks/hero/_hero.scss";
@import "./blocks/hero/_header.scss";
@import "./blocks/hero/_features.scss";
@import "./blocks/hero/_feature.scss";
@import "./blocks/hero/_btn.scss";
@import "./blocks/section/_section.scss";
@import "./blocks/section/_headline.scss";
@import "./blocks/section/_benefits.scss";
@import "./blocks/section/_benefit.scss";
@import "./blocks/reviews/_reviews.scss";
@import "./blocks/reviews/_reviews__switcher.scss";
@import "./blocks/order/_order.scss";
@import "./blocks/order/_form.scss";
@import "./blocks/order/_radio.scss";
@import "./blocks/fixed-menu/_fixed-menu.scss";
@import "./blocks/map/_map.scss";
@import "./blocks/footer/_footer.scss";
@import "./blocks/hamburger/_hamburger.scss";
@import "./blocks/products/_products.scss";
@import "./blocks/fullscreen-menu/_fullscreen-menu.scss";
@import "./blocks/team/_team.scss";
@import "./blocks/team/_member.scss";
@import "./blocks/modal/_modal.scss";
