@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px -1px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px -2px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Play", "Alegreya Sans", Arial, Helvetica, sans-serif;
  color: #292929;
  background: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #F8FAF9;
  height: 100vh;
  min-height: 40.75rem;
  color: #292929;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -1.5625rem;
  right: 30%;
  content: url("../img/hero/rectangle.png");
}
@media screen and (max-width: 768px) {
  .hero:before {
    right: 10%;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    padding: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  background: url("../img/hero/headphones.png") right center/45% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 6.5625rem 3.125rem 5rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: url("../img/hero/headphones.png") center 20%/40% auto no-repeat;
    padding: 1.5rem 3.125rem 6.25rem 3.125rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__container {
    background: url("../img/hero/headphones.png") center 20%/65% auto no-repeat;
    padding: 1.5rem 0.625rem 4.375rem 0.625rem;
  }
}

.hero__main-title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.375rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    margin-bottom: 0.3125rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2rem;
  }
}

.hero__title-desc {
  font-size: 1.3125rem;
  margin-bottom: 3.125rem;
  padding: 0 5%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    margin-bottom: 1.4375rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.menu {
  padding-top: 0.625rem;
  margin: 0 1.875rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Alegreya Sans";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.625rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  color: #292929;
  white-space: nowrap;
}

.phone-number {
  font-size: 1.125rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
  padding-top: 0.625rem;
}
@media screen and (max-width: 480px) {
  .phone-number {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.1875rem;
  }
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon-elem {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 3.4375rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5625rem;
  margin-right: 0.5rem;
}

.feature__text {
  font-size: 1rem;
  max-width: 6.875rem;
}

.btn {
  font-size: 1.1875rem;
  font-weight: bold;
  padding: 1.125rem 2.1875rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  border: none;
}
.btn--color {
  background: #E01F3D;
  color: #fff;
}
.btn--color:hover {
  background: #fff;
  color: #E01F3D;
  cursor: pointer;
}
.btn--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-weight: normal;
}

.section {
  height: 100vh;
  min-height: 40.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color-white {
  color: #fff;
}
.section--font-color-white .section__title {
  color: inherit;
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
  }
}

.section__title-reviews {
  margin-bottom: 2.1875rem;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 1.125rem;
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 3.875rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0;
  }
}

.benefits-section {
  position: relative;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.25rem;
  }
}
.benefits__item:before {
  content: url("../img/benefits/points.png");
  position: absolute;
  top: 3.125rem;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0;
  }
}

.benefit__icon {
  width: 4.6875rem;
  height: 4.3125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .benefit__text {
    padding: 0 0.75rem;
    margin: auto;
  }
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.4375rem;
}

.benefit__desc {
  padding: 0 12%;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    padding: 0;
  }
}

.reviews-section {
  position: relative;
}
.reviews-section:before {
  position: absolute;
  bottom: -1.0625rem;
  left: 28%;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background: #868686;
  content: "";
}
@media screen and (max-width: 768px) {
  .reviews-section:before {
    left: 5%;
  }
}

.reviews {
  padding: 0 4.9375rem;
}
@media screen and (max-width: 768px) {
  .reviews {
    padding: 1.375rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews {
    padding: 1.375rem 0;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem 6.6875rem 2.625rem 2.625rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 2.625rem 1.375rem 1.875rem 1.375rem;
    margin-bottom: 2rem;
  }
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -4.0625rem;
}
@media screen and (max-width: 480px) {
  .reviews__display:before {
    display: none;
  }
}

.reviews__list {
  min-height: 12.5rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}
.reviews__item.active {
  opacity: 1;
  position: static;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-bottom: 2rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviws__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.875rem 5.625rem 0rem 2.5rem;
}
@media screen and (max-width: 768px) {
  .reviws__content {
    padding: 0 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.6875rem;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 1rem;
  }
}

.reviews__text {
  margin-bottom: 2.375rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 16px;
  }
}

.reviews_author {
  font-size: 1.125rem;
  font-weight: bold;
  color: black;
}

.reviews-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-switcher__item {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.reviews-switcher__item.active {
  border-color: #E01F3D;
}

.reviews-switcher__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.reviews-switcher__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background-color: #181818;
  position: relative;
}
.order-section:before {
  position: absolute;
  top: -1.4375rem;
  right: 30%;
  content: url("../img/order/polygon.png");
}
@media screen and (max-width: 768px) {
  .order-section:before {
    right: 10%;
  }
}

.section__title-order {
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .section__title-order {
    margin-bottom: 2rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.625rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem;
}

.form__row--text {
  margin-bottom: 2.25rem;
}
@media screen and (max-width: 768px) {
  .form__row--text {
    margin-bottom: 22px;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.75rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.1875rem 0.75rem;
  border-radius: 0.25rem;
  border: 0.1875rem solid transparent;
}
.form__input.input-error {
  border-color: hotpink;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 3px 1px;
  }
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 9.875rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.form__controls:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  padding: 2.8125rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .form__btns {
    padding: 30px 0 0 0;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.5rem;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0;
  }
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible:before {
  width: 0.625rem;
  height: 0.5rem;
  background: url("./../img/order/checkmark.png") no-repeat;
}

.radio__visible {
  margin-right: 0.625rem;
}

.radio__title {
  margin-top: 0.25rem;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  position: absolute;
  display: none;
  background: #E01F3D;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 25%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
    z-index: 0;
  }
}

.fixed-menu__item {
  margin-bottom: 0.875rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #E01F3D;
  opacity: 1;
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-section {
  background: url("../img/map/map.png") center center no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .map-section {
    background-size: cover;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__desc {
  font-size: 1.125rem;
  padding-left: 8%;
}
@media screen and (max-width: 480px) {
  .footer__desc {
    padding: 0;
  }
}

.foter__desc--adress {
  margin-bottom: 0.1875rem;
}

.footer__socials {
  padding-right: 10%;
}
@media screen and (max-width: 480px) {
  .footer__socials {
    padding: 0;
  }
}

.social__item {
  width: 1.875rem;
  height: 1.875rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.625rem;
  fill: #B3B3B3;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .social__item {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.social__item:last-child {
  margin-right: 0;
}
.social__item:hover {
  cursor: pointer;
  fill: #000;
}

.hamburger {
  width: 1.625rem;
  height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .hamburger--active {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hamburger {
    display: none;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 0.25rem;
  border-radius: 0.625rem;
}

.products-section {
  background-color: #F8FAF9;
  height: 100vh;
  min-height: 40.75rem;
  color: #292929;
  position: relative;
}
.products-section:after {
  position: absolute;
  bottom: -1.5625rem;
  right: 30%;
  content: url("../img/products/rectangle2.png");
}
@media screen and (max-width: 768px) {
  .products-section:after {
    right: 10%;
  }
}
.products-section:before {
  position: absolute;
  top: -1rem;
  left: 28%;
  content: url("../img/benefits/vector.png");
}
@media screen and (max-width: 768px) {
  .products-section:before {
    left: 5%;
  }
}

.products-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .products-slider {
    padding: 0;
  }
}
.products-slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product__icon {
  width: 1.5rem;
  height: 2.5rem;
  margin: 0 0.625rem;
}
@media screen and (max-width: 768px) {
  .product__icon {
    margin-top: -18.75rem;
  }
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .product__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3.125rem;
}
@media screen and (max-width: 768px) {
  .product__col {
    padding-left: 0;
  }
}

.product__img {
  width: 100%;
  height: 28.25rem;
}
@media screen and (max-width: 768px) {
  .product__img {
    width: 19.125rem;
    height: 19.125rem;
    margin-bottom: 3.125rem;
  }
}

.product__spec {
  width: 5.6875rem;
  height: 5.6875rem;
  background: #9A9A9A;
  border-radius: 0.25rem;
  position: relative;
  margin-bottom: 1.5625rem;
}
.product__spec:hover + .product__values {
  cursor: pointer;
  opacity: 0.95;
}
@media screen and (max-width: 768px) {
  .product__spec {
    display: none;
  }
}

.product__cont:hover > .product__values {
  opacity: 0.95;
}

.product__values {
  width: 17.0625rem;
  height: 18.375rem;
  background: #fff;
  border-radius: 4px;
  right: 17%;
  top: 4%;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.product__spec-value {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product__spec-value__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icon__value {
  width: 2rem;
  height: 2rem;
}

.gear__icon {
  top: 50%;
  left: 50%;
  width: 2.625rem;
  height: 2.625rem;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product__title {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .product__title {
    font-size: 1.75rem;
  }
}

.product__text {
  padding-right: 3.125rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .product__text {
    padding-right: 0;
  }
}

.product__option-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}
.product__option-container:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .product__option-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.product__option-text {
  margin-right: 6.25rem;
}
.product__option-text:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .product__option-text {
    margin-right: 0;
  }
}

.product__option-price {
  font-family: play;
  font-size: 2.25rem;
  margin-right: 1.875rem;
}

@media screen and (max-width: 768px) {
  .fullscreen-menu {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    background: #313131;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: white;
    left: 100%;
  }
  .fullscreen-menu--active {
    left: 0;
    position: fixed;
  }
}
@media screen and (max-width: 480px) {
  .fullscreen-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu-vertical {
    position: fixed;
    background: #313131;
    color: white;
    font-size: 2.25rem;
    width: 6.25rem;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .menu-vertical__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2.5rem;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    width: 310px;
    color: white;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu-vertical__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    width: 200px;
    color: white;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  a {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff;
  }
}

.fullscreen-menu__close {
  display: block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  right: -39%;
  top: -45%;
}

.team-section {
  height: 100vh;
  min-height: 40.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 4.5625rem;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.3125rem;
}
.team__list.team__list-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
@media screen and (max-width: 768px) {
  .team__list.team__list-desktop {
    display: none;
  }
  .team__list.team__list-mobile {
    display: block;
  }
}
.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .team__item {
    position: relative;
  }
  .team__item_visible {
    height: 18.75rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.member__photo-logo {
  width: 13.75rem;
  height: 18.125rem;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .member__photo-logo_visible {
    height: 18.125rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
.member__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 1.5625rem;
  margin-bottom: 0.6875rem;
  cursor: pointer;
  position: relative;
}
.member__name-arrow {
  width: 0.5625rem;
  height: 0.5625rem;
  margin-left: 0.25rem;
}
.member__name-arrow_rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.member__desc {
  position: absolute;
  top: 100%;
  overflow: hidden;
  text-align: center;
  padding: 0rem 2rem;
  height: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .member__desc {
    position: relative;
  }
}
.member__desc-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.member__desc-title {
  color: #000;
  margin-bottom: 0.25rem;
}
.member__desc-text {
  color: #666;
  padding: 0 10%;
}
.member__desc_visible {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*

   Styles for animated modal
   =========================

*/
/* Start state */
.animated-modal {
  max-width: 550px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.animated-modal h2,
.animated-modal p {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.fancybox-slide--current .animated-modal p {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}